/* Font Icons */
.km-clock:after,.km-clock:before{content:"\E08D"}
.km-grid:after,.km-grid:before{content:"\E0AB"}
.km-info:after,.km-info:before{content:"\E0F9";}
.km-comment:after,.km-comment:before{content:"\E091";}
.km-certificate:after,.km-certificate:before{content:"\E08C";}
.km-place:after,.km-place:before{content:"\E0B4"}
.km-calendar:after,.km-calendar:before{content:"\E089"}
.km-gear:after,.km-gear:before{content:"\E0A4"}
.km-question:after,.km-question:before{content:"\E0FB"}
.jquery-ratings-star:after{content:"\E048"}
.jquery-ratings-full:after{content:"\E047"}





/* Global */
.wrapper,
.km-android,
.km-android .km-content
{
    background: #e6e7e8 no-repeat 50% 0;
    font-family: Arial, Helvetica, sans-serif;
}

.km-app
{
    background: #e6e7e8 no-repeat 50% 0;
    font-family: Arial, Helvetica, sans-serif;
}

.km-root *:not(.km-tabstrip):not(.km-buttongroup)>.km-button,
.km-root .km-button
{
    margin: 0 auto;
    display: block;
    width: 70%;
    height: 2.4em;
    line-height: 2.4em;
    background: #f05a22;
    box-shadow: 0 0;
    border: 0 none;
    padding: 0;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
}

.km-root *:not(.km-tabstrip) .km-content .km-button.km-state-active,
.km-root .km-button.km-state-active
{
    background: #a83f18;
}

.km-root h2,
.km-root h3
{
    font: bold 1.05em Arial, Helvetica, sans-serif;
    color: #414042;
    margin: 0 0 0.5em 0.2em;
}

.km-root .km-list>li
{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}


/* Menu List */
.km-root .menu-list .km-listview li
{
    border-radius: 0;
    text-transform: uppercase;
    padding: 0;
    border: 0 none;
    border-bottom: 1px solid #fff;
    background-color: #0b9446;
}

.menu-list li,
.km-root .menu-list li .km-icon,
.menu-list .km-listview-link:after
{
    color: #fff;
}

.km-root .menu-list li .km-icon
{
    vertical-align: -0.2em;
    font-size: 1.4em;
    width: 1.2em
}

.km-root .menu-list .km-listview li a
{
    font-size: 0.7em;
    font-weight: normal;
    padding: 0.5em 1em 0;
    margin: 0;
}

.menu-list li.km-state-active .km-listview-link
{
    background: rgba(0,0,0,0.3);
    border-radius: 0 !important;
}

.menu-list .km-listview li
{
    height: 2em;
}



/* Default Kendo styles Resets*/
div.km-content.km-insetcontent
{
    background: none;
}

.km-header .km-view-title
{
    box-shadow: none;
    -webkit-box-shadow: none;
}


/* Title Bar */
.km-header .km-navbar
{
    background: #414042;
    height: 28px;
    font-size: 12px;
}

.km-header .km-view-title
{
    font-size: 1em;
}

.km-info
{    
     
}

.km-root .km-back
{
    padding-left: 1em;
    -webkit-mask-image: none;    
}

.km-root .km-back:after
{
    background: none;
}

/* End Title Bar */


.km-header *:not(.km-tabstrip):not(.km-buttongroup) .km-button
{
    background: none;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
    font-size: 14px;
    width: auto;
}



/* Main Footer Menu */
.km-root .km-tabstrip .km-icon
{
    color: #fff;
    font-size: 2em;
    padding: 0px 0 0px 12px;
    height: 20px;
}

.km-root .km-tabstrip .km-state-active .km-icon,
.km-root .km-tabstrip .km-button:active:last-child,
.km-root .km-tabstrip .km-state-active
{
    color: #fff300;
}

.km-root .km-tabstrip .km-button,
.km-root .km-tabstrip .km-button:active
{
    background: #414042;
    box-shadow: 0 0 ;
}

.km-root .km-button
{
    width: auto;
}

.km-root .km-tabstrip .km-button:active,
.km-root .km-tabstrip .km-state-active
.km-ios6 .km-tabstrip .km-button:active,
.km-ios6 .km-tabstrip .km-state-active,
.km-ios6 .km-tabstrip .km-state-active:last-child,
.km-ios6 .km-tabstrip .km-button:active:last-child
{
    box-shadow: 0 0 0 rgba(255,255,255,.4);
    -webkit-box-shadow: 0 0 0px rgba(255,255,255,.4);
    background: #414042;
}

/* Welcome Screen */

#home
{
    background-image: url(images/home-bgr.png);
}


#home-content li
{
    background-color: #2bb673;
 }

#home-content li[data-icon="grid"]
{
    background-color: #0b9446;
}

#home-content li[data-icon="contacts"]
{
    background-color: #27aae1;
}

#home-content li[data-icon="comment"]
{
    background-color: #ab218e;
}

#home-content li[data-icon="certificate"]
{
    background-color: #ee4036;
}
#logo
{
    background: #fff300 url(images/dr-logo.png) no-repeat 50% 14px;
    height: 63px;
    margin-top: 53px
}

/* My Agenda View */
.km-root .fullscreen-list .km-listview,
.km-ios .fullscreen-list .km-listinset>li
{
    margin: 0;
    border-radius: 0 !important; 
}

.fullscreen-list .km-list li
{
    font-size: 0.9em;
    padding: 0;
    background-color: transparent;
    color: #000;
}

.fullscreen-list .km-list li a
{
    padding: 1.5em 1em 0.5em;
    margin: 0;
}

.fullscreen-list h3
{
    color: #2bb673;
}

.fullscreen-list p
{
    margin: 0;
    line-height: 0.95em;
}

.fullscreen-list span
{
    font-size: 0.8em;    
}

.fullscreen-list .item-date
{
    text-align: right;
    display: inline-block;
    width: 100%;
}

.km-root .fullscreen-list .km-state-active .km-listview-link
{
    background: #fff300;
    color: #000;
}


/* Sessions View */

.dr-box-wrapper
{
    padding: 1em 1em;
}

.km-root .dr-box
{
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: bold;
    margin: 0 0 1.2em;
    border: 1px solid #cdcdcd;
    background: #fcfcfc;
    color: #2bb673;
    padding: 1.1em 1em;
}

.dr-box p
{
    margin: 0 0 1em;
 }

.km-root .dr-box-listview
{
    padding: 0;
}

.km-root .km-list
{
    margin-bottom: 0;   
}

.dr-box-listview .km-list>li
{
    font-size: 1em;
    background-color: transparent;
}

.dr-speaker-box:after
{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.dr-speaker-box img
{
    float: left;
    margin-right: 1em;
}

.dr-speaker-box strong
{
    display: block;
    font-size: 1.35em;
}

.dr-box-form label,
#settingsView label
{
    width: 82px;
    display: inline-block;
    height: 31px;
    vertical-align: middle;
    color: #414042;
    line-height: 31px;
    padding-left: 10px;
    font-weight: bold;
}    

.dr-box-form label
{
    background-color: #f4f4f4;
}    

.dr-box-form input
{
    vertical-align: middle;
    color: #2bb673;
    border: 0 none;
    height: 29px;
}    

.dr-box-form li
{
    padding: 0;
}

.km-root .km-switch-container
{
    background: #2bb673;
}

.km-ios .km-switch-label-on
{
    text-indent: 10px;
    font-weight: normal;
}

.km-root .km-switch-label-off
{
    font-weight: normal;
    font-size: 0.9em;
    color: #ffffff;
    line-height: 1.7em;
    text-indent: -4px;
}

.km-root .km-switch-off .km-switch-container
{
    background: #cdcdcd;
}

.km-root .km-switch-handle,
.km-root .km-switch-wrapper,
.km-root .km-switch-container
{
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 0;
}

.km-root .km-switch
{
    width: 4rem;
}

.km-root .km-switch-handle
{
    margin: 0px 0px 1px 0;
    background: white;
    border: 0 none;
    padding-top: 1px;
}

.km-root .km-switch-label-on .km-switch-handle
{
    position: relative;
    left: -4px;
}

#newsBox,
#maintenanceBox
{
    margin-bottom: 0.4em;
}

#newsBox label,
#maintenanceBox label
{
    background: none;
}

#maintenanceBox .km-button
{
    width: 8em;
    height: 1.9em;
    line-height: 1.9em;
    margin: 0;
    display: inline-block;
    float: right;
    margin: 0.4em;
}

p.info
{
    font-size: 0.8em;
    font-weight: normal;
    margin: 0 0 2em;
    color: #414042;
}


/* Session Review */
#reviewSessionView .km-scroll-container
{
    padding: 1em;
}

#reviewSessionView h3
{
    margin: 0 0 0.7em 0.1em;
}

#ratingSpeaker,
#ratingSession
{
    margin: 0 0 2.0em;
    height: 38px;
}

#txtReview
{
    width: 100%;
    resize: none;
    margin-bottom: 1em;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    background: #fcfcfc;
    color: #414042;
}

#savePersonalDetails
{
    margin-bottom: 1em;
}

.jquery-ratings-star
{
    color: #2bb673;
    width: 36px;
    height: 36px;
    position: relative;
    float: left;
    margin-right: 2px;
    font: 2.5em/1em "Kendo UI";
}

.jquery-ratings-full
{
  
}

/* Sponsors */
#sponsorsPage ul
{
    padding: 0;
    width: 100%;
}

#sponsorsPage li
{
    text-align: center;
}

#Sponsor li
{
    padding-bottom: 2em;
}


/* Android */
.km-android .km-back
{
    display: none !important;
}

.km-android .km-navbar [class*=item] .km-button
{
    padding: 0.35rem 0;
}

.km-android .km-view-title
{
    visibility: visible;
}

.km-android .km-navbar [class*=item] .km-button
{
    padding: 0;
}

.km-android .km-listview-wrapper
{
    padding: 0;   
}


.km-android .km-listview-wrapper
{
    padding: 0;
}

.km-android .menu-list ul
{
    margin: 1em;
}

.km-android .menu-list .km-listview li a
{
    padding-top: 0.1em;
}

.km-android .km-switch-handle
{
    width: 1.8em;
}

.km-android .km-listview .km-switch
{
    height: 1.7em;
    margin-top: -0.85em;
}

.km-android .fullscreen-list .km-listview
{
    margin: 0;
}

.km-android .km-switch-label-on
{
    background: white;
    color: #2bb673;
}

.km-android .km-switch-label-off
{
    color: #cdcdcd;
    font-size: 0.8rem;
}

/* Tablets */
.km-tablet body
{
    font-size: 1.5em;
}